<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.neotrix.todo-sync</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/neo/Downloads/code/neotrix/scripts/sync_todos.py</string>
        <string>--daemon</string>
        <string>300</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/neo/Downloads/code/neotrix</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <false/>
    
    <key>StandardOutPath</key>
    <string>/tmp/neotrix-todo-sync.log</string>
    
    <key>StandardErrorPath</key>
    <string>/tmp/neotrix-todo-sync.err</string>
</dict>
</plist>
